div, span, td {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

.winddata {
    width: 80px;
    border-spacing: 0px;
}

.div-table {
    display: table;         
    width: auto;         
    background-color: #033687;         
    border: 1px solid #033687;         
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
}
.div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: 150px;         
    background-color: #033687;
    color: white;  
}
.div-table-col-left {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: 100px;         
    background-color: #033687;
    color: white;  
}
.div-table-col-right {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: 200px;         
    background-color: #033687;
    color: white;  
}
.div-table-col-max {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: 300px;         
    background-color: #033687;
    color: white;  
    text-align: center;
}
.table-header {
    background-color: silver;
    border-color: silver;
    color: darkslategray;
    font-weight: 1000;
    vertical-align: middle;
    padding-top: 5px;
    margin: 0px;
}

.alignright {
    text-align: right;
}
.alignleft {
    text-align: left;
}
.rainpic {
  background-color: antiquewhite;
  color: black;
  vertical-align: middle;
  padding-bottom: 5px;
  text-align: center;
}

.rain {
  background-color: antiquewhite;
  color: black;
  vertical-align: middle;
  padding-top: 5px;
}

.white {
  background-color: white;
  color: black;
}

.livealert {
    background-color:burlywood;
    color: black
}

.rainpic {
    background-color: antiquewhite;
    color: black;
    vertical-align: middle;
    padding-bottom: 5px;
    text-align: center;
}

.rain {
    background-color: antiquewhite;
    color: black;
    vertical-align: middle;
    padding-top: 5px;
}
  
.white {
    background-color: white;
    color: black;
}

.curtemp {
    font-size: 26pt;
    font-weight: bolder;
}

.seatemp {
    font-size: 26pt;
    font-weight: bolder;
    color: white;
}
  
.minmaxtemp {
    font-size: 12pt;
    font-weight: 400;
    padding: 15px;
}
  
.feelslike {
    text-align: center;
    color: white;
}

.moon {
    background-color: black;
    color: white;
}

.sun {
    background-color: skyblue;
    color: black;
    padding: 0;
    margin: 0;
}